@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /*PALETA*/
    --corFundo1: #1E202C;
    --corFundo2: #31323E;
    --corTxt2: #BFC0D1;
    --corTxt1: #F0F1F8;
    --corLogo: #60519B;

    /*FONTES*/
    --fontLogo: "Outfit", sans-serif;
    --fontGeral: "Inter", sans-serif;

    font-family: var(--fontGeral);
}

@media screen and (max-width: 768px){
        main {
            width: calc(100% - 25px);
    
        }
        .logoContainer > img{
            width: 25px;
        }
        .logoContainer > .titLogo{
            font-size: 1.7em;
        }

        .cabecalhoContainer{
            margin-top: 25px;
        }

        .cabecalhoContainer > p{
            font-size: 1.4em;
        }
        .sobreContainer{
            align-self: flex-start;
        }
        .sobreContainer > .titSobre{
            font-size: 1.2em;
        }
        .parag1, .parag2{
            font-size: .9em;
            width: calc(100% - 50px);
        }
        .saberMaisContainer{
            margin-left: 25px;
            font-size: 1.2em;
        }
        .gitContainer{
            margin-top: 15px;
        }
        .gitContainer  p{
            font-size: .8em;
        }
        .gitContainer > img{
            width: 25px;
        }
}