

@media screen and (max-width: 768px) {
    
    main{
        width: calc(100% - 24px);
        height: 620px;
        border-radius: 10px;
        
    }

    .animar{
        opacity: 0;
        animation: surgirEsquerda 0.6s ease forwards;
    }

    .logoContainer{
        justify-content: center;
        margin-top: 15px;
        animation-delay: 0.1s;
    }
     .logoContainer > img{
        width: 25px;
     }
    .logoContainer > .titLogo{
        font-size: 1.7em; 
    }

    .cabeca1{
        font-size: 1.4em;
    }

    .formulario{
        margin-top: 50px;
    }

    .formulario  .inputs{
        width: 250px;
        height: 35px;
        border-radius: 5px;
    }

    .formulario .btnEntrar{
        margin-top: 50px;
    }
    .separadorContainer{
        width: 390px;
    }

    .linha{
        width: 120px;
    }
    .aLink{
        animation-delay: 0.9s;
    }

    

    @keyframes surgirEsquerda{
        0%{
            opacity: 0;
            transform: translateX(-40px);
        }

        100%{
            opacity: 1;
            transform: translateX(0);
        }
    }

    
}