

@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    main{
        width: calc(100% - 24px);
        
    }
    .logoContainer > img{
        width: 25px;
    }
    .logoContainer > .titLogo{
        font-size: 1.7em; 
    }

    .cabecalhoContainer{
        margin-top: 50px;
        margin-left: 20px;
    }
    .cabecalhoContainer > .txtCabecalho{
        font-size: 1.2em;
    }
    
    .cabecalhoContainer > ul > li{
        font-size: .8em;
    }

    .inputsContainer{
        margin-top: 25px;
        margin-left: 20px;
    }
    .inputsContainer .inputs{
        width: 250px;
        height: 35px;
    }
    .btnConfirmar{
        width: 150px;
        height: 35px;
        border-radius: 5px;
    }

}